//derr
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // at default viewport width, 1 rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px 9/16
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 9px 9/16
  }
  @include respond(big-desk) {
    font-size: 75%; //1rem = 12px 12/16
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    // font-size: 50%; //1rem = 9px 9/16
    padding: 0;
  }
}
